*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
background: linear-gradient(#02072e, #1e3a8a);
font-family: "Courier New", Courier, monospace;
background-repeat: no-repeat;
min-height: 100vh;
}

img{
    height: 20vh;
    width: 90%;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.header-text{
    display: flex;
    text-align: center;
    border:1px solid white;
    padding:12px 34px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:1.9rem;
    color:floralwhite;
    animation: flicker 1.5s infinite alternate;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-text-line{
    color: white;
    font-size: 25px;
    margin-top:40px;
}
.second-text-line{
    color: white;
    font-size: 15px;
    margin-top: 20px ;
}


.images{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;

}


.image-holder1, .image-holder2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: snow;
    font-size: 15px;
    font-weight: bold;
}

.buttons-container{
    margin-top: 90px;
    display: flex;
    gap: 60px;
    align-items: flex-end;
    justify-content: center;
}
button{
   background-color: #4f77a7cc;
   transition: ease .3s;
   outline: none;
   
}


button:hover{
    background-color: #011024;
    transform: scale(1.1);
    cursor: pointer;
}
#popup{
    background-color: #021225 ;
    opacity: 0.98;
    padding: 60px 140px ;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 12px;
    font-family: "Poppins",sans-serif;
    display:none;
    text-align: center;
    box-shadow: 5px 5px 70px   rgb(167, 20, 130); 
    color: white;
    font-family: "Courier New", Courier, monospace;
   
}

.popup-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}


#play-again {
    background-color: #0f0661;
    border: none;
    color: white;
    padding: 8px 25px;
    border-radius: 30px;
    font-family: "Courier New", Courier, monospace;
    
}
#play-again:hover{
    background-color:#3d0f33 ;
    

}
    
.footer{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}  





@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #f09,
        0 0 73px #f09,
        0 0 80px #f09,
        0 0 94px #f09,
        0 0 140px #f09;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }


@media screen and (max-width:1024px){

}

@media screen and (max-width:991px){

}



@media screen and (max-width:768px){
}
@media screen and (max-width:578px){
}

@media screen and (max-width:447px){
}